<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body bgcolor="#C1E1C1";style="font-family:cursive;">
    <h1 style="font-family:cursive; font-size: 50px; text-align: center;">Edit contact details</h1>
    <footer style="text-align: center; font-size: 30px; font-family:cursive;">
      <form action="/editdetails/<%= contactInfo.id %>" method="post">
        <input type="hidden" name="_method" value="put">
          <label for="">Name</label>
          <input type= "text" name="name" value="<%= contactInfo.name %>"/>
          <label for="">Phone</label>
          <input type="text" name="phone" value="<%= contactInfo.phone %>"/>
          <label for="">Address</label>
          <input type="text" name="address" value="<%= contactInfo.address %>"/>
          <label for="">Email</label>
          <input type="text" name="email" value="<%= contactInfo.email %>"/>  
          <button>Update contact</button>
      
      </form>
    </footer>
</body>
</html>